.register-body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    background-image: url('https://www.desktopbackground.org/download/o/2010/06/19/35661_download-crazy-wallpapers-hd-photos-high-resolution-1600x1000px_1600x1000_h.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }


.register-form {
    background-color: rgb(229, 105, 233);
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }